# Indexing in MongoDB:

## Single-field indexes:

Let's evaluate the two situations -where we used index and the one in which we don't- performance wise.

Let's query the restaurant with: 41156888 as id.

In [1]:
import pymongo as pg #Among other things handles conncection between the db and python environement 
from pprint import pprint #pretty print
import datetime #Needed to format the datetime input later on.
import pandas as pd

In [2]:
client=pg.MongoClient()
db=client.test

In [5]:
db.restaurants.find_one()

{'_id': ObjectId('5cce307bd398404a2c2a70da'),
 'address': {'building': '469',
  'coord': [-73.961704, 40.662942],
  'street': 'Flatbush Avenue',
  'zipcode': '11225'},
 'borough': 'Brooklyn',
 'cuisine': 'Hamburgers',
 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
   'grade': 'A',
   'score': 8},
  {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
  {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
 'name': "Wendy'S",
 'restaurant_id': '30112340'}

In [101]:
print("Straight search")
res=db.restaurants.find({'restaurant_id':'41156888'}).explain()
pd.DataFrame({'Examined documents':[res['executionStats']['totalDocsExamined']],'Time to execute(ms)':[res['executionStats']['executionTimeMillis']],'Num of results':[res['executionStats']['nReturned']]})

Straight search

   Examined documents  Num of results  Time to execute(ms)
0               25359               1                   26

We examined all the files! (British museum search).

In [102]:
print('Using limit(1)')
limres=db.restaurants.find({'restaurant_id':'41156888'}).limit(1).explain()
pd.DataFrame({'Examined documents':[limres['executionStats']['totalDocsExamined']],'Time to execute(ms)':[limres['executionStats']['executionTimeMillis']],'Num of results':[limres['executionStats']['nReturned']]})

Using limit(1)

   Examined documents  Num of results  Time to execute(ms)
0                6027               1                   10

There is a considerable decrease for both the number of examined files and the execution time. Although, this is not a very attractive way for tackling this problem of query performance in general, and that's because...well for starters, it's not always the case that we are looking only for one of the documents fulfilling the given condition. In this case since the restaurant id is unique, it's quite convenient, we get the same result as a full search with a lower cost...In fact, the research starts and once it founds a result matching, it stops so we get that sense of improved performance while it's only due to finding the wanted result sooner rather than later (It could have found it much later and the performance wouldn't be this good). More technically speaking, limit() determinates how many time we are going to iterate over the cursor (that contains the result of the query) in order to generate the returned value. If we are going to iterate only once, once a result is obtained continuing has no meaning. So it's improved performance but it's 'fake' improvement, in other words there is no heuristic (when it comes to limit()) that optimizes the search within the documents. General queries don't always get this convenient.

Indexes are a great way to optimize queries like this because they organize data by a given field to let MongoDB find it

quickly. We will try to create an index on the retaurant_id field:

### Index creation:

In [103]:
db.restaurants.create_index([('restaurant_id',1)]) #Create index on the restaurant_id field.

'restaurant_id_1'

In [117]:
pprint(db.restaurants.index_information())

{'_id_': {'key': [('_id', 1)], 'ns': 'test.restaurants', 'v': 2},
 'cuisine_1': {'key': [('cuisine', 1)], 'ns': 'test.restaurants', 'v': 2}}

In [105]:
print("Indexed search:")
Indres=db.restaurants.find({'restaurant_id':'41156888'}).explain()
pd.DataFrame({'Examined documents':[Indres['executionStats']['totalDocsExamined']],'Time to execute(ms)':[Indres['executionStats']['executionTimeMillis']],'Num of results':[Indres['executionStats']['nReturned']]})

Indexed search:

   Examined documents  Num of results  Time to execute(ms)
0                   1               1                    2

Optimal performance! Thing to be expected. Although this gives great read peerformance although it hurts the insertion performances when we have a lot of indexes, since they too need update at each transaction. So the task of choosing fields to index is really important by keeping in mind this trade-off.

## Compound indexes:

When your query has multiple sort directions or multiple keys in the criteria, it is useful to use a compound index,
which is an index on more than one field. The order of fields listed in a compound index has significance. For
instance, if a compound index consists of { userid: 1, score: -1 }, the index sorts first by userid and
then, within each userid value, sorts by score.

In [106]:
db.restaurants.drop_index('restaurant_id_1') #Dropping the single index created earlier.

In [122]:
db.restaurants.create_index([('cuisine',1),('name',-1)])

'cuisine_1_name_-1'

In [125]:
IndCres=db.restaurants.find({'cuisine':'Moroccan'}).sort('name').explain()
pd.DataFrame({'Examined documents':[IndCres['executionStats']['totalDocsExamined']],'Time to execute(ms)':[IndCres['executionStats']['executionTimeMillis']],'Num of results':[IndCres['executionStats']['nReturned']]})

   Examined documents  Num of results  Time to execute(ms)
0                  15              15                    0

Optimal yet again! The search goes straight to the goal.

Let's query restaurants for which the cuisine is between: 'Pizza' & 'Mexican'.

In [139]:
result=db.restaurants.find({'$and':[{'cuisine':{'$gt':'Mexican'}},{'cuisine':{'$lt':'Pizza'}}]}).explain()
pd.DataFrame({'Examined documents':[result['executionStats']['totalDocsExamined']],'Time to execute(ms)':[result['executionStats']['executionTimeMillis']],'Num of results':[result['executionStats']['nReturned']]})

   Examined documents  Num of results  Time to execute(ms)
0                1334            1334                    5

Optimal result!

In [142]:
result=db.restaurants.find({'$and':[{'cuisine':{'$gt':'Mexican'}},{'cuisine':{'$lt':'Pizza'}}]}).sort('name').explain()
pd.DataFrame({'Examined documents':[result['executionStats']['totalDocsExamined']],'Time to execute(ms)':[result['executionStats']['executionTimeMillis']],'Num of results':[result['executionStats']['nReturned']]})

   Examined documents  Num of results  Time to execute(ms)
0                1334            1334                   15

Time performance decreased due to the sorting done after fetching unordered data (name wise).

Inversing the order of the compound index.

In [145]:
db.restaurants.create_index([('name',1),('cuisine',1)])

'name_1_cuisine_1'

In [148]:
resul=db.restaurants.find({'$and':[{'cuisine':{'$gt':'Mexican'}},{'cuisine':{'$lt':'Pizza'}}]}).hint('name_1_cuisine_1').sort('name').explain()
pd.DataFrame({'Examined documents':[resul['executionStats']['totalDocsExamined']],'Time to execute(ms)':[resul['executionStats']['executionTimeMillis']],'Num of results':[resul['executionStats']['nReturned']]})

   Examined documents  Num of results  Time to execute(ms)
0               25359            1334                   87

## Aggregating data in MongoDB - Aggregation Pipeline:

Aggregation operations group values from multiple documents together, and can perform a variety of operations on the grouped data to return a single result. Aggregation in MongoDB can be performed using MongoDBâ€™s aggregation framework or MapReduce.

### MongoDB aggregation Pipeline:

Each step of the pipeline maps to an aggregation framework operator. Each operator receives a stream of documents,
does some type of transformation on these documents, and then passes on the results of the transformation. If it
is the last pipeline operator, these results are returned to the client. Otherwise, the results are streamed to the next
operator as input. Operators can be combined in any order and repeated as many times as necessary.

In the db.collection.aggregate method, pipeline stages appear in an array. Documents pass through the stages in sequence.

### Pipeline Operations:

#### $match:

We generaly never not want to start our pipeline with this, since it will lighten the work mass done by the following pipeline operators.

In [41]:
magr=db.restaurants.aggregate([{'$match':{'borough':'Manhattan'}}])

It is important to note that the results of an aggregation are only one single use. After using it once it is destroyed.

In [42]:
pprint(list(magr)[0:5])

[{'_id': ObjectId('5cce307bd398404a2c2a70db'),
  'address': {'building': '351',
              'coord': [-73.98513559999999, 40.7676919],
              'street': 'West   57 Street',
              'zipcode': '10019'},
  'borough': 'Manhattan',
  'cuisine': 'Irish',
  'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
              'grade': 'A',
              'score': 2},
             {'date': datetime.datetime(2013, 7, 22, 0, 0),
              'grade': 'A',
              'score': 11},
             {'date': datetime.datetime(2012, 7, 31, 0, 0),
              'grade': 'A',
              'score': 12},
             {'date': datetime.datetime(2011, 12, 29, 0, 0),
              'grade': 'A',
              'score': 12}],
  'name': 'Dj Reynolds Pub And Restaurant',
  'restaurant_id': '30191841'},
 {'_id': ObjectId('5cce307bd398404a2c2a70e6'),
  'address': {'building': '1',
              'coord': [-73.96926909999999, 40.7685235],
              'street': 'East   66 Street',
              'zipcode': '10065'},
  'borough': 'Manhattan',
  'cuisine': 'American',
  'grades': [{'date': datetime.datetime(2014, 5, 7, 0, 0),
              'grade': 'A',
              'score': 3},
             {'date': datetime.datetime(2013, 5, 3, 0, 0),
              'grade': 'A',
              'score': 4},
             {'date': datetime.datetime(2012, 4, 30, 0, 0),
              'grade': 'A',
              'score': 6},
             {'date': datetime.datetime(2011, 12, 27, 0, 0),
              'grade': 'A',
              'score': 0}],
  'name': '1 East 66Th Street Kitchen',
  'restaurant_id': '40359480'},
 {'_id': ObjectId('5cce307bd398404a2c2a70ed'),
  'address': {'building': '522',
              'coord': [-73.95171, 40.767461],
              'street': 'East   74 Street',
              'zipcode': '10021'},
  'borough': 'Manhattan',
  'cuisine': 'American',
  'grades': [{'date': datetime.datetime(2014, 9, 2, 0, 0),
              'grade': 'A',
              'score': 12},
             {'date': datetime.datetime(2013, 12, 19, 0, 0),
              'grade': 'B',
              'score': 16},
             {'date': datetime.datetime(2013, 5, 28, 0, 0),
              'grade': 'A',
              'score': 9},
             {'date': datetime.datetime(2012, 12, 7, 0, 0),
              'grade': 'A',
              'score': 13},
             {'date': datetime.datetime(2012, 3, 29, 0, 0),
              'grade': 'A',
              'score': 11}],
  'name': 'Glorious Food',
  'restaurant_id': '40361521'},
 {'_id': ObjectId('5cce307bd398404a2c2a70f0'),
  'address': {'building': '502',
              'coord': [-73.976112, 40.786714],
              'street': 'Amsterdam Avenue',
              'zipcode': '10024'},
  'borough': 'Manhattan',
  'cuisine': 'Chicken',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
              'grade': 'A',
              'score': 10},
             {'date': datetime.datetime(2014, 3, 4, 0, 0),
              'grade': 'A',
              'score': 13},
             {'date': datetime.datetime(2013, 7, 18, 0, 0),
              'grade': 'A',
              'score': 13},
             {'date': datetime.datetime(2013, 1, 9, 0, 0),
              'grade': 'A',
              'score': 11},
             {'date': datetime.datetime(2012, 4, 10, 0, 0),
              'grade': 'A',
              'score': 10},
             {'date': datetime.datetime(2011, 11, 15, 0, 0),
              'grade': 'A',
              'score': 7}],
  'name': "Harriet'S Kitchen",
  'restaurant_id': '40362098'},
 {'_id': ObjectId('5cce307bd398404a2c2a70f1'),
  'address': {'building': '730',
              'coord': [-73.96805719999999, 40.7925587],
              'street': 'Columbus Avenue',
              'zipcode': '10025'},
  'borough': 'Manhattan',
  'cuisine': 'American',
  'grades': [{'date': datetime.datetime(2014, 9, 12, 0, 0),
              'grade': 'B',
              'score': 26},
             {'date': datetime.datetime(2013, 8, 28, 0, 0),
              'grade': 'A',
              'score': 9},
             {'date': datetime.datetime(2013, 3, 25, 0, 0),
              'grade': 'B',
              'score': 20},
             {'date': datetime.datetime(2012, 2, 14, 0, 0),
              'grade': 'A',
              'score': 12}],
  'name': 'P & S Deli Grocery',
  'restaurant_id': '40362264'}]

#### $project:

Allows us to select only certain number of fields of interest, and also to rename fields. 
Let's add this to our original pipeline by only returning the name and grades of the restaurants and let's rename these two to respectively: restaurantName and restaurantGrades.

In [66]:
mpagr=db.restaurants.aggregate([
    {'$match':{'borough':'Manhattan'}},
    {'$project':{'restaurantName':'$name','restaurantGrades':'$grades'}}])

In [50]:
pprint(list(mpagr)[0:5])

[{'_id': ObjectId('5cce307bd398404a2c2a70db'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
                        'grade': 'A',
                        'score': 2},
                       {'date': datetime.datetime(2013, 7, 22, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 7, 31, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2011, 12, 29, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'Dj Reynolds Pub And Restaurant'},
 {'_id': ObjectId('5cce307bd398404a2c2a70e6'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 5, 7, 0, 0),
                        'grade': 'A',
                        'score': 3},
                       {'date': datetime.datetime(2013, 5, 3, 0, 0),
                        'grade': 'A',
                        'score': 4},
                       {'date': datetime.datetime(2012, 4, 30, 0, 0),
                        'grade': 'A',
                        'score': 6},
                       {'date': datetime.datetime(2011, 12, 27, 0, 0),
                        'grade': 'A',
                        'score': 0}],
  'restaurantName': '1 East 66Th Street Kitchen'},
 {'_id': ObjectId('5cce307bd398404a2c2a70ed'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 2, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2013, 12, 19, 0, 0),
                        'grade': 'B',
                        'score': 16},
                       {'date': datetime.datetime(2013, 5, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2012, 12, 7, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2012, 3, 29, 0, 0),
                        'grade': 'A',
                        'score': 11}],
  'restaurantName': 'Glorious Food'},
 {'_id': ObjectId('5cce307bd398404a2c2a70f0'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2014, 3, 4, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 7, 18, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 1, 9, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 4, 10, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2011, 11, 15, 0, 0),
                        'grade': 'A',
                        'score': 7}],
  'restaurantName': "Harriet'S Kitchen"},
 {'_id': ObjectId('5cce307bd398404a2c2a70f1'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 12, 0, 0),
                        'grade': 'B',
                        'score': 26},
                       {'date': datetime.datetime(2013, 8, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2013, 3, 25, 0, 0),
                        'grade': 'B',
                        'score': 20},
                       {'date': datetime.datetime(2012, 2, 14, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'P & S Deli Grocery'}]

Now we will use operators that helps deal with arithmetic expressions. 

Let's calculate for each restaurant the average of grades.

In [130]:
mpg1agr=db.restaurants.aggregate([
    {'$match':{'borough':'Manhattan'}},
    {'$project':{'restaurantName':'$name','restaurantGrades':'$grades','avgGrade':{'$avg':'$grades.score'}}}])

In [131]:
pprint(list(mpg1agr)[0:5])

[{'_id': ObjectId('5cce307bd398404a2c2a70db'),
  'avgGrade': 9.25,
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
                        'grade': 'A',
                        'score': 2},
                       {'date': datetime.datetime(2013, 7, 22, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 7, 31, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2011, 12, 29, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'Dj Reynolds Pub And Restaurant'},
 {'_id': ObjectId('5cce307bd398404a2c2a70e6'),
  'avgGrade': 3.25,
  'restaurantGrades': [{'date': datetime.datetime(2014, 5, 7, 0, 0),
                        'grade': 'A',
                        'score': 3},
                       {'date': datetime.datetime(2013, 5, 3, 0, 0),
                        'grade': 'A',
                        'score': 4},
                       {'date': datetime.datetime(2012, 4, 30, 0, 0),
                        'grade': 'A',
                        'score': 6},
                       {'date': datetime.datetime(2011, 12, 27, 0, 0),
                        'grade': 'A',
                        'score': 0}],
  'restaurantName': '1 East 66Th Street Kitchen'},
 {'_id': ObjectId('5cce307bd398404a2c2a70ed'),
  'avgGrade': 12.2,
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 2, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2013, 12, 19, 0, 0),
                        'grade': 'B',
                        'score': 16},
                       {'date': datetime.datetime(2013, 5, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2012, 12, 7, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2012, 3, 29, 0, 0),
                        'grade': 'A',
                        'score': 11}],
  'restaurantName': 'Glorious Food'},
 {'_id': ObjectId('5cce307bd398404a2c2a70f0'),
  'avgGrade': 10.666666666666666,
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2014, 3, 4, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 7, 18, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 1, 9, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 4, 10, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2011, 11, 15, 0, 0),
                        'grade': 'A',
                        'score': 7}],
  'restaurantName': "Harriet'S Kitchen"},
 {'_id': ObjectId('5cce307bd398404a2c2a70f1'),
  'avgGrade': 16.75,
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 12, 0, 0),
                        'grade': 'B',
                        'score': 26},
                       {'date': datetime.datetime(2013, 8, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2013, 3, 25, 0, 0),
                        'grade': 'B',
                        'score': 20},
                       {'date': datetime.datetime(2012, 2, 14, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'P & S Deli Grocery'}]

Let's add a field where the cuisine is in upper caracters.

In [183]:
mpg3agr=db.restaurants.aggregate([
    {'$match':{'borough':'Manhattan'}},
    {'$project':{'restaurantName':'$name','restaurantGrades':'$grades','UpperCuisine':{'$toUpper':'$cuisine'}}}])

In [184]:
pprint(list(mpg3agr)[0:5])

[{'UpperCuisine': 'IRISH',
  '_id': ObjectId('5cce307bd398404a2c2a70db'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
                        'grade': 'A',
                        'score': 2},
                       {'date': datetime.datetime(2013, 7, 22, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 7, 31, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2011, 12, 29, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'Dj Reynolds Pub And Restaurant'},
 {'UpperCuisine': 'AMERICAN',
  '_id': ObjectId('5cce307bd398404a2c2a70e6'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 5, 7, 0, 0),
                        'grade': 'A',
                        'score': 3},
                       {'date': datetime.datetime(2013, 5, 3, 0, 0),
                        'grade': 'A',
                        'score': 4},
                       {'date': datetime.datetime(2012, 4, 30, 0, 0),
                        'grade': 'A',
                        'score': 6},
                       {'date': datetime.datetime(2011, 12, 27, 0, 0),
                        'grade': 'A',
                        'score': 0}],
  'restaurantName': '1 East 66Th Street Kitchen'},
 {'UpperCuisine': 'AMERICAN',
  '_id': ObjectId('5cce307bd398404a2c2a70ed'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 2, 0, 0),
                        'grade': 'A',
                        'score': 12},
                       {'date': datetime.datetime(2013, 12, 19, 0, 0),
                        'grade': 'B',
                        'score': 16},
                       {'date': datetime.datetime(2013, 5, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2012, 12, 7, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2012, 3, 29, 0, 0),
                        'grade': 'A',
                        'score': 11}],
  'restaurantName': 'Glorious Food'},
 {'UpperCuisine': 'CHICKEN',
  '_id': ObjectId('5cce307bd398404a2c2a70f0'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2014, 3, 4, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 7, 18, 0, 0),
                        'grade': 'A',
                        'score': 13},
                       {'date': datetime.datetime(2013, 1, 9, 0, 0),
                        'grade': 'A',
                        'score': 11},
                       {'date': datetime.datetime(2012, 4, 10, 0, 0),
                        'grade': 'A',
                        'score': 10},
                       {'date': datetime.datetime(2011, 11, 15, 0, 0),
                        'grade': 'A',
                        'score': 7}],
  'restaurantName': "Harriet'S Kitchen"},
 {'UpperCuisine': 'AMERICAN',
  '_id': ObjectId('5cce307bd398404a2c2a70f1'),
  'restaurantGrades': [{'date': datetime.datetime(2014, 9, 12, 0, 0),
                        'grade': 'B',
                        'score': 26},
                       {'date': datetime.datetime(2013, 8, 28, 0, 0),
                        'grade': 'A',
                        'score': 9},
                       {'date': datetime.datetime(2013, 3, 25, 0, 0),
                        'grade': 'B',
                        'score': 20},
                       {'date': datetime.datetime(2012, 2, 14, 0, 0),
                        'grade': 'A',
                        'score': 12}],
  'restaurantName': 'P & S Deli Grocery'}]

#### $group:

Grouping allows you to group documents by one or many fields and combine their values. For instance, If you had
a collection of users and you wanted to see how many users you have by city, you can group by the "state" and
"city" fields, creating one group per city/ state pair.

Let's calculate the average grades of all restaurants by borough.

In [281]:
mpggagr=db.restaurants.aggregate([
    {'$project':{'restaurantName':'$name','restaurantGrades':'$grades','borough':1,'avgGrade':{'$avg':'$grades.score'}}},
    {'$group':{'_id':'$borough','boroughAvg':{'$avg':'$avgGrade'}}}])

In [268]:
pprint(list(mpggagr)[0:5])

[{'_id': 'Missing', 'boroughAvg': 9.38},
 {'_id': 'Queens', 'boroughAvg': 11.344526071298084},
 {'_id': 'Bronx', 'boroughAvg': 10.873708920187793},
 {'_id': 'Manhattan', 'boroughAvg': 11.065528371922964},
 {'_id': 'Staten Island', 'boroughAvg': 11.184327731092438}]

#### $unwind:

Deconstructs an array field from the input documents to output a document for each element. Each output document is the input document with the value of the array field replaced by the element.

In [279]:
mpguagr=db.restaurants.aggregate([{'$unwind':'$grades'},
                                  {'$group':{'_id':'$borough','boroughAvg':{'$avg':'$grades.score'}}}])

In [280]:
pprint(list(mpguagr)[0:5])

[{'_id': 'Missing', 'bouroughAvg': 9.632911392405063},
 {'_id': 'Queens', 'bouroughAvg': 11.634865110930088},
 {'_id': 'Bronx', 'bouroughAvg': 11.036186099942562},
 {'_id': 'Manhattan', 'bouroughAvg': 11.418151216986018},
 {'_id': 'Staten Island', 'bouroughAvg': 11.370957711442786}]

It's not exactly as before (in the group aggregation) because some restaurants had gone through more gradings than the others so the collectif average is not the average of the seperate averages. If we were to ensure that the number of subfields in the grade's field is the same for all documents we expect to see the same result.

#### little illustation:

We will select the files with 4 grades, and then apply the two methods to see if we will get the same borough averages via the two ways.

In [284]:
mpguagr=db.restaurants.aggregate([{'$match':{'grades':{'$size':4}}},
                                  {'$unwind':'$grades'},
                                  {'$group':{'_id':'$borough','boroughAvg':{'$avg':'$grades.score'}}}])

In [285]:
pprint(list(mpguagr)[0:5])

[{'_id': 'Bronx', 'boroughAvg': 9.814220183486238},
 {'_id': 'Missing', 'boroughAvg': 7.5},
 {'_id': 'Queens', 'boroughAvg': 10.36455798864558},
 {'_id': 'Manhattan', 'boroughAvg': 10.081390593047034},
 {'_id': 'Staten Island', 'boroughAvg': 11.178807947019868}]

In [286]:
mpggagr=db.restaurants.aggregate([{'$match':{'grades':{'$size':4}}},
    {'$project':{'restaurantName':'$name','restaurantGrades':'$grades','borough':1,'avgGrade':{'$avg':'$grades.score'}}},
    {'$group':{'_id':'$borough','boroughAvg':{'$avg':'$avgGrade'}}}])

In [287]:
pprint(list(mpggagr)[0:5])

[{'_id': 'Bronx', 'boroughAvg': 9.814220183486238},
 {'_id': 'Missing', 'boroughAvg': 7.5},
 {'_id': 'Queens', 'boroughAvg': 10.36455798864558},
 {'_id': 'Manhattan', 'boroughAvg': 10.081390593047034},
 {'_id': 'Staten Island', 'boroughAvg': 11.178807947019868}]

As expected we get the same result!

#### $limit & sort:

In [294]:
smpguagr=db.restaurants.aggregate([{'$unwind':'$grades'},
                                  {'$group':{'_id':'$borough','boroughAvg':{'$avg':'$grades.score'}}},
                                  {'$sort':{'_id':-1}},
                                  {'$limit':2}])

In [295]:
pprint(list(smpguagr))

[{'_id': 'Staten Island', 'boroughAvg': 11.370957711442786},
 {'_id': 'Queens', 'boroughAvg': 11.634865110930088}]

## Aggregating data in MongoDB - MapReduce:

Map-reduce is a data processing paradigm for condensing large volumes of data into useful aggregated results.
For map-reduce operations, pymongo provides the map_reduce() method to perform map/reduce style
aggregations on your data.

MapReduce has a couple of steps. It starts with the map step, which maps an operation onto every document in
a collection. That operation could be either â€œdo nothingâ€ or â€œemit these keys with X values.â€ There is then an
intermediary stage called the shuffle step: keys are grouped and lists of emitted values are created for each key.
The reduce takes this list of values and reduces it to a single element. This element is returned to the shuffle step
until each key has a list containing a single value: the result.

In [12]:
db.books.find_one()

{'_id': 1,
 'authors': ['W. Frank Ableson', 'Charlie Collins', 'Robi Sen'],
 'categories': ['Open Source', 'Mobile'],
 'isbn': '1933988673',
 'longDescription': "Android is an open source mobile phone platform based on the Linux operating system and developed by the Open Handset Alliance, a consortium of over 30 hardware, software and telecom companies that focus on open standards for mobile devices. Led by search giant, Google, Android is designed to deliver a better and more open and cost effective mobile experience.    Unlocking Android: A Developer's Guide provides concise, hands-on instruction for the Android operating system and development tools. This book teaches important architectural concepts in a straightforward writing style and builds on this with practical and useful examples throughout. Based on his mobile development experience and his deep knowledge of the arcane Android technical documentation, the author conveys the know-how you need to develop practical applications that build upon or replace any of Androids features, however small.    Unlocking Android: A Developer's Guide prepares the reader to embrace the platform in easy-to-understand language and builds on this foundation with re-usable Java code examples. It is ideal for corporate and hobbyists alike who have an interest, or a mandate, to deliver software functionality for cell phones.    WHAT'S INSIDE:        * Android's place in the market      * Using the Eclipse environment for Android development      * The Intents - how and why they are used      * Application classes:            o Activity            o Service            o IntentReceiver       * User interface design      * Using the ContentProvider to manage data      * Persisting data with the SQLite database      * Networking examples      * Telephony applications      * Notification methods      * OpenGL, animation & multimedia      * Sample Applications  ",
 'pageCount': 416,
 'publishedDate': datetime.datetime(2009, 4, 1, 7, 0),
 'shortDescription': "Unlocking Android: A Developer's Guide provides concise, hands-on instruction for the Android operating system and development tools. This book teaches important architectural concepts in a straightforward writing style and builds on this with practical and useful examples throughout.",
 'status': 'PUBLISH',
 'thumbnailUrl': 'https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/ableson.jpg',
 'title': 'Unlocking Android'}

The map function emits for each author (author,1) for each of the values of authors array.
The thing is that we are mapping the space of documents into, an other where each author that contributed to a book has as a key his name as key and 1 as value for this key.

In [14]:
from bson.code import Code
map = Code("function () {"
           "  this.authors.forEach(function(z) {"
           "    emit(z, 1);"
           "  });"
           "}")

This phase we use the mapping we did to create new information, in this case we sumned over the values for each occurence of an author key to obtain naturally the number his contributions to the book catalogue in hand.

In [15]:
reduce = Code("function (key, values) {"
               "  var total = 0;"
               "  for (var i = 0; i < values.length; i++) {"
               "    total += values[i];"
               "  }"
               "  return total;"
               "}")

In [16]:
result = db.books.map_reduce(map, reduce, "myresults")
for doc in result.find():
    pprint(doc)

{'_id': '', 'value': 59.0}
{'_id': 'Adam Benoit', 'value': 1.0}
{'_id': 'Adam Chace', 'value': 1.0}
{'_id': 'Adam Machanic', 'value': 3.0}
{'_id': 'Adam Tacy', 'value': 2.0}
{'_id': 'Adele Goldberg', 'value': 1.0}
{'_id': 'Ahmed Sidky', 'value': 1.0}
{'_id': 'Ajamu A. Wesley', 'value': 1.0}
{'_id': 'Ajay Kapur', 'value': 1.0}
{'_id': 'Alan Dennis', 'value': 1.0}
{'_id': 'Alan Mycroft', 'value': 1.0}
{'_id': 'Alan R. Williamson', 'value': 1.0}
{'_id': 'Aleksa Vukotic', 'value': 1.0}
{'_id': 'Aleksandar Nikolic', 'value': 1.0}
{'_id': 'Alex Benton', 'value': 1.0}
{'_id': 'Alex Holmes', 'value': 2.0}
{'_id': 'Alex Young', 'value': 1.0}
{'_id': 'Alexandre de Castro Alves', 'value': 1.0}
{'_id': 'Alvaro Videla', 'value': 1.0}
{'_id': 'Amanda Laucher', 'value': 1.0}
{'_id': 'Amandeep Khurana', 'value': 1.0}
{'_id': 'Amit Rathore', 'value': 2.0}
{'_id': 'Andres Almiray', 'value': 1.0}
{'_id': 'Andrew L. Farris', 'value': 1.0}
{'_id': 'Andrew L. Johnson', 'value': 1.0}
{'_id': 'Andrew Schmidt', 'value': 2.0}
{'_id': 'Andy Piper', 'value': 1.0}
{'_id': 'Angel Roman', 'value': 1.0}
{'_id': 'Ann M. Kelly', 'value': 1.0}
{'_id': 'Anna TÃ¶kke', 'value': 1.0}
{'_id': 'Anthony Briggs', 'value': 1.0}
{'_id': 'Anthony Patton', 'value': 2.0}
{'_id': 'Anthony Williams', 'value': 1.0}
{'_id': 'Anton Kovalyov', 'value': 1.0}
{'_id': 'Arnaud Cogoluegnes', 'value': 2.0}
{'_id': 'Arnon Rotem-Gal-Oz', 'value': 1.0}
{'_id': 'Arthur Mateos', 'value': 1.0}
{'_id': 'Ash Blue', 'value': 1.0}
{'_id': 'Ashish Sarin', 'value': 1.0}
{'_id': 'Ashley Atkins', 'value': 1.0}
{'_id': 'Aslam Khan', 'value': 1.0}
{'_id': 'Assaf Arkin', 'value': 1.0}
{'_id': 'Aurelio De Rosa', 'value': 1.0}
{'_id': 'Avi Pfeffer', 'value': 1.0}
{'_id': 'Balaji D Loganathan', 'value': 1.0}
{'_id': 'Barry J. Shepherd', 'value': 1.0}
{'_id': 'Bear Bibeault', 'value': 3.0}
{'_id': 'Bear Bibeault with Tom Locke', 'value': 1.0}
{'_id': 'Bear P. Cahill', 'value': 1.0}
{'_id': 'Ben Scheirman', 'value': 2.0}
{'_id': 'Ben Vinegar', 'value': 1.0}
{'_id': 'Benjamin G. Sullins', 'value': 2.0}
{'_id': 'Benjamin L. Kovitz', 'value': 1.0}
{'_id': 'Benjamin Muschko', 'value': 1.0}
{'_id': 'Bernerd Allmon', 'value': 1.0}
{'_id': 'Bob Lee', 'value': 1.0}
{'_id': 'Brad McGehee', 'value': 1.0}
{'_id': 'Bradley Austin Davis', 'value': 1.0}
{'_id': 'Brandon Goodin', 'value': 1.0}
{'_id': 'Brandon Mathis', 'value': 1.0}
{'_id': 'Brandon Trebitowski', 'value': 2.0}
{'_id': 'Brendan G. Lim', 'value': 1.0}
{'_id': 'Brendan G. Lim with Jerry Cheung', 'value': 1.0}
{'_id': 'Bret Updegraff', 'value': 1.0}
{'_id': 'Brett Lonsdale', 'value': 1.0}
{'_id': 'Brian Christeson', 'value': 1.0}
{'_id': 'Brian Ford', 'value': 1.0}
{'_id': 'Brian H. Prince', 'value': 1.0}
{'_id': 'Brian Ketelsen', 'value': 1.0}
{'_id': 'Bruce A. Tate', 'value': 1.0}
{'_id': 'Bruce Murray', 'value': 1.0}
{'_id': 'Bruce Payette', 'value': 2.0}
{'_id': 'Bruce Simpson', 'value': 1.0}
{'_id': 'Bruce Snyder', 'value': 1.0}
{'_id': 'Bruce Tate', 'value': 1.0}
{'_id': 'Bruce Trask', 'value': 1.0}
{'_id': 'Bruno Lowagie', 'value': 2.0}
{'_id': 'C. Enrique Ortiz', 'value': 1.0}
{'_id': 'C. Wayne Brown', 'value': 1.0}
{'_id': 'Carl Simmons', 'value': 1.0}
{'_id': 'Carlos M. Sessa', 'value': 1.0}
{'_id': 'Carter Sande', 'value': 2.0}
{'_id': 'Cedric Dumoulin', 'value': 1.0}
{'_id': 'Chad A. Campbell', 'value': 1.0}
{'_id': 'Chad Michael Davis', 'value': 1.0}
{'_id': 'Charles Collins', 'value': 1.0}
{'_id': 'Charlie Collins', 'value': 3.0}
{'_id': 'Chris A. Mattmann', 'value': 1.0}
{'_id': 'Chris Buckett', 'value': 2.0}
{'_id': 'Chris Cunningham', 'value': 1.0}
{'_id': 'Chris Eppstein', 'value': 1.0}
{'_id': 'Chris Garrard', 'value': 1.0}
{'_id': 'Chris Gray', 'value': 1.0}
{'_id': 'Chris Hay', 'value': 1.0}
{'_id': 'Chris Houser', 'value': 1.0}
{'_id': 'Chris King', 'value': 1.0}
{'_id': 'Chris Richardson', 'value': 1.0}
{'_id': 'Chris Shiflett', 'value': 1.0}
{'_id': 'Christian Bauer', 'value': 5.0}
{'_id': 'Christian Crumlish', 'value': 1.0}
{'_id': 'Christopher Allen', 'value': 3.0}
{'_id': 'Christopher R. Mitchell', 'value': 2.0}
{'_id': 'Chuck Lam', 'value': 1.0}
{'_id': 'Claudio Martella', 'value': 1.0}
{'_id': 'Claus Ibsen', 'value': 1.0}
{'_id': 'Clayton Donley', 'value': 1.0}
{'_id': 'Clinton Begin', 'value': 1.0}
{'_id': 'Cody Bumgardner', 'value': 1.0}
{'_id': 'Cole Krumbholz', 'value': 1.0}
{'_id': 'Compiled', 'value': 1.0}
{'_id': 'Contributions from 53 SQL Server MVPs', 'value': 1.0}
{'_id': 'Contributions from 53 SQL Server MVPs; Edited by Paul Nielsen',
 'value': 1.0}
{'_id': 'Courtney Robinson', 'value': 1.0}
{'_id': 'Craig Berntson', 'value': 1.0}
{'_id': 'Craig Walls', 'value': 4.0}
{'_id': 'Craig Walls with Ryan Breidenbach', 'value': 1.0}
{'_id': 'CÃ©dric Champeau', 'value': 1.0}
{'_id': 'Dagfinn ReiersÃ¸l with Marcus Baker', 'value': 1.0}
{'_id': 'Damian Conway', 'value': 1.0}
{'_id': 'Dan Allen', 'value': 1.0}
{'_id': 'Dan Orlando', 'value': 1.0}
{'_id': 'Daniel Brolund', 'value': 1.0}
{'_id': 'Daniel C. Lynch', 'value': 1.0}
{'_id': 'Daniel G. McCreary', 'value': 1.0}
{'_id': 'Daniel Minoli', 'value': 3.0}
{'_id': 'Daniel Selman', 'value': 1.0}
{'_id': 'Daniele Bochicchio', 'value': 2.0}
{'_id': 'Danno Ferrin', 'value': 1.0}
{'_id': 'Darren Neimke', 'value': 1.0}
{'_id': 'Daryl Harms', 'value': 1.0}
{'_id': 'Dave Crane', 'value': 3.0}
{'_id': 'Dave Hrycyszyn', 'value': 1.0}
{'_id': 'Dave Johnson', 'value': 1.0}
{'_id': 'David A. Black', 'value': 3.0}
{'_id': 'David A. Hemphill', 'value': 1.0}
{'_id': 'David Cross', 'value': 1.0}
{'_id': 'David Dossot', 'value': 2.0}
{'_id': 'David Nicolette', 'value': 1.0}
{'_id': 'David Savage', 'value': 1.0}
{'_id': 'David Sean Taylor', 'value': 1.0}
{'_id': 'David Winterfeldt', 'value': 1.0}
{'_id': 'David Wood', 'value': 1.0}
{'_id': 'Dean Alan Hume', 'value': 1.0}
{'_id': 'Debu Panda', 'value': 2.0}
{'_id': 'Dejan Bosanac', 'value': 1.0}
{'_id': 'Derek Hamner', 'value': 1.0}
{'_id': 'Derek Lane', 'value': 1.0}
{'_id': 'Dhanji R. Prasanna', 'value': 1.0}
{'_id': 'Dierk Koenig with Andrew Glover', 'value': 1.0}
{'_id': 'Dierk KÃ¶nig', 'value': 1.0}
{'_id': 'Dimitri Aivaliotis', 'value': 1.0}
{'_id': 'Dionysios Logothetis', 'value': 1.0}
{'_id': 'Dmitry Babenko', 'value': 1.0}
{'_id': 'Don Jones', 'value': 6.0}
{'_id': 'Donald Belcham', 'value': 1.0}
{'_id': 'Donald Brown', 'value': 1.0}
{'_id': 'Douglas Garrett', 'value': 1.0}
{'_id': 'Douglas W. Bennett', 'value': 1.0}
{'_id': 'Duane K. Fields', 'value': 1.0}
{'_id': 'Early Stephens', 'value': 1.0}
{'_id': 'Edited by Jeffery Hicks', 'value': 1.0}
{'_id': 'Edited by Paul Nielsen', 'value': 1.0}
{'_id': 'Eelco Hillenius', 'value': 1.0}
{'_id': 'Elijah Meeks', 'value': 1.0}
{'_id': 'Ellen Friedman', 'value': 1.0}
{'_id': 'Emmanuel Bernard', 'value': 1.0}
{'_id': 'Emmit A. Scott', 'value': 1.0}
{'_id': 'Eric Hexter', 'value': 2.0}
{'_id': 'Eric Merritt', 'value': 1.0}
{'_id': 'Eric Pascarello with Darren James', 'value': 1.0}
{'_id': 'Eric Pulier and Hugh Taylor', 'value': 1.0}
{'_id': 'Erik Bakker', 'value': 1.0}
{'_id': 'Erik Hatcher', 'value': 4.0}
{'_id': 'Erik Keller', 'value': 1.0}
{'_id': 'Erik Pragt', 'value': 1.0}
{'_id': 'Erik St. Martin', 'value': 1.0}
{'_id': 'Evan M. Hahn', 'value': 1.0}
{'_id': 'Evan Rosen', 'value': 1.0}
{'_id': 'Fabrice Marguerie', 'value': 1.0}
{'_id': 'Faisal Abid', 'value': 1.0}
{'_id': 'Felipe Leme', 'value': 1.0}
{'_id': 'Fergal Grimes', 'value': 1.0}
{'_id': 'Florian MÃ¼ller', 'value': 1.0}
{'_id': 'Foreword by Paul Gaffney', 'value': 1.0}
{'_id': 'Francisco Canedo', 'value': 1.0}
{'_id': 'G. Ann Campbell', 'value': 1.0}
{'_id': 'Gabe Zichermann', 'value': 1.0}
{'_id': 'Gal Shachor', 'value': 1.0}
{'_id': 'Galina', 'value': 1.0}
{'_id': 'Galina Landres', 'value': 2.0}
{'_id': 'Gary Gregory', 'value': 3.0}
{'_id': 'Gary Scott Malkin', 'value': 1.0}
{'_id': 'Gavin King', 'value': 5.0}
{'_id': 'Gavin M. Roy', 'value': 1.0}
{'_id': 'Ge Wang', 'value': 1.0}
{'_id': 'George Franciscus', 'value': 1.0}
{'_id': 'Glen Smith', 'value': 2.0}
{'_id': 'Gojko Adzic', 'value': 1.0}
{'_id': 'Grant S. Ingersoll', 'value': 1.0}
{'_id': 'Greg Low', 'value': 4.0}
{'_id': 'Greg Smith', 'value': 1.0}
{'_id': 'Greg Wanish', 'value': 1.0}
{'_id': 'Gregory M. Travis', 'value': 1.0}
{'_id': 'Grgur Grisogono', 'value': 1.0}
{'_id': 'Guillaume Laforge', 'value': 2.0}
{'_id': 'Haleh Mahbod', 'value': 1.0}
{'_id': "Hamlet D'Arcy", 'value': 1.0}
{'_id': 'Hanumant Deshmukh', 'value': 2.0}
{'_id': 'Haralambos Marmanis', 'value': 1.0}
{'_id': 'Harold Lorin', 'value': 1.0}
{'_id': 'Henrik Brink', 'value': 1.0}
{'_id': 'Holly Cummins', 'value': 1.0}
{'_id': 'Howard M. Lewis Ship', 'value': 1.0}
{'_id': 'II', 'value': 1.0}
{'_id': 'Iain Shigeoka', 'value': 1.0}
{'_id': 'Ian Gilman', 'value': 1.0}
{'_id': 'Ian W. Stirk', 'value': 1.0}
{'_id': 'Isidor Rivera', 'value': 1.0}
{'_id': 'Istvan Szegedi', 'value': 1.0}
{'_id': 'Itamar Syn-Hershko', 'value': 1.0}
{'_id': 'Ivan Porto Carrero', 'value': 1.0}
{'_id': 'J. B. Rainsberger with contributions by Scott Stirling', 'value': 1.0}
{'_id': 'JD "Illiad" Frazer', 'value': 1.0}
{'_id': 'Jack Gambol', 'value': 1.0}
{'_id': 'Jack Herrington', 'value': 1.0}
{'_id': 'Jacob K. Andresen', 'value': 1.0}
{'_id': 'James Bannan', 'value': 1.0}
{'_id': 'James P. Gray', 'value': 1.0}
{'_id': 'James P. White', 'value': 1.0}
{'_id': 'James Shingler', 'value': 1.0}
{'_id': 'James Warren', 'value': 1.0}
{'_id': 'Jamie Allen', 'value': 1.0}
{'_id': 'Jamil Azher', 'value': 1.0}
{'_id': 'Jared Armstrong', 'value': 1.0}
{'_id': 'Jason Bock', 'value': 1.0}
{'_id': 'Jason C. Helmick', 'value': 1.0}
{'_id': 'Jason Carreira', 'value': 1.0}
{'_id': 'Jason Essington', 'value': 1.0}
{'_id': 'Jason J.W. Williams', 'value': 1.0}
{'_id': 'Jason R. Weiss', 'value': 1.0}
{'_id': 'Javid Jamae', 'value': 1.0}
{'_id': 'Jay Brown', 'value': 1.0}
{'_id': 'Jeff Davis', 'value': 1.0}
{'_id': 'Jeff Potts', 'value': 1.0}
{'_id': 'Jeffery D. Hicks', 'value': 1.0}
{'_id': 'Jeffery Hicks', 'value': 3.0}
{'_id': 'Jeffrey Machols', 'value': 1.0}
{'_id': 'Jeffrey Palermo', 'value': 3.0}
{'_id': 'Jeremy Anderson', 'value': 1.0}
{'_id': 'Jeremy McAnally', 'value': 2.0}
{'_id': 'Jeremy Skinner', 'value': 1.0}
{'_id': 'Jerome Louvel', 'value': 1.0}
{'_id': 'Jesus Garcia', 'value': 1.0}
{'_id': 'Jignesh Malavia', 'value': 2.0}
{'_id': 'Jim Jackson', 'value': 1.0}
{'_id': 'Jim Wooley', 'value': 1.0}
{'_id': 'Jimmy Bogard', 'value': 3.0}
{'_id': 'Joachim Haagen Skeie', 'value': 1.0}
{'_id': 'Joakim Sunden', 'value': 1.0}
{'_id': 'Jocelyn Harrington', 'value': 1.0}
{'_id': 'Joe Lennon', 'value': 1.0}
{'_id': 'Joe McGinn', 'value': 1.0}
{'_id': 'Joe Walker', 'value': 1.0}
{'_id': 'Joel Hooks', 'value': 1.0}
{'_id': 'Joey Lott', 'value': 1.0}
{'_id': 'John C. Bland II', 'value': 1.0}
{'_id': "John D'Emic", 'value': 2.0}
{'_id': 'John E. Grayson', 'value': 1.0}
{'_id': 'John F. Smart', 'value': 1.0}
{'_id': 'John Griffin', 'value': 1.0}
{'_id': 'John Mitchell', 'value': 1.0}
{'_id': 'John Mount', 'value': 1.0}
{'_id': 'John Resig', 'value': 1.0}
{'_id': 'John Stockton', 'value': 1.0}
{'_id': 'Jon Barrilleaux', 'value': 1.0}
{'_id': 'Jon Skeet', 'value': 5.0}
{'_id': 'Jonas Partner', 'value': 1.0}
{'_id': 'Jonathan Anstey', 'value': 1.0}
{'_id': 'Jonathan Campos', 'value': 1.0}
{'_id': 'Jonathan Levine', 'value': 1.0}
{'_id': 'Jord Sonneveld and Bear Bibeault with Ted Goddard', 'value': 1.0}
{'_id': 'Jordan Hochenbaum', 'value': 1.0}
{'_id': 'Jos Dirksen', 'value': 2.0}
{'_id': 'Joseph Hocking', 'value': 1.0}
{'_id': 'Joseph Richards', 'value': 1.0}
{'_id': 'Josh C. Powell', 'value': 1.0}
{'_id': 'Joshua D. Suereth', 'value': 1.0}
{'_id': 'Joshua Noble', 'value': 1.0}
{'_id': 'Joshua Suereth', 'value': 1.0}
{'_id': 'Josiah Carlson', 'value': 1.0}
{'_id': 'Jothy Rosenberg', 'value': 1.0}
{'_id': 'Jr', 'value': 1.0}
{'_id': 'Jr.', 'value': 1.0}
{'_id': 'Jukka L. Zitting', 'value': 1.0}
{'_id': 'Julian Hyde', 'value': 1.0}
{'_id': 'Julio C. Ody', 'value': 1.0}
{'_id': 'Kalen Delaney', 'value': 4.0}
{'_id': 'Karen Bryla', 'value': 1.0}
{'_id': 'Karl Pauls', 'value': 1.0}
{'_id': 'Kathryn Rotondo', 'value': 1.0}
{'_id': 'Keith B. Wood', 'value': 1.0}
{'_id': 'Ken Rimple', 'value': 1.0}
{'_id': 'Kenneth A. Kousen', 'value': 1.0}
{'_id': 'Kenneth McDonald', 'value': 1.0}
{'_id': 'Kenneth P. Birman', 'value': 1.0}
{'_id': 'Kermit Project at Columbia University', 'value': 1.0}
{'_id': 'Kevin Hazzard', 'value': 1.0}
{'_id': "Kevin O'Malley", 'value': 1.0}
{'_id': 'Kimberly L. Tripp', 'value': 3.0}
{'_id': 'Kimberly Tripp', 'value': 1.0}
{'_id': 'Kito D. Mann', 'value': 1.0}
{'_id': 'Kyle Baley', 'value': 1.0}
{'_id': 'Kyle Banker', 'value': 2.0}
{'_id': 'Kyle Lussier', 'value': 1.0}
{'_id': 'Larry Meadors', 'value': 1.0}
{'_id': 'Lasse Koskela', 'value': 2.0}
{'_id': 'Laurent Mihalkovic', 'value': 1.0}
{'_id': 'Lawrence H. Rodrigues', 'value': 1.0}
{'_id': 'Leo Hsu', 'value': 1.0}
{'_id': 'Leo S. Hsu', 'value': 1.0}
{'_id': 'Levi Asher', 'value': 1.0}
{'_id': 'Louis Davidson', 'value': 1.0}
{'_id': 'Lukas Ruebbelke', 'value': 1.0}
{'_id': 'Luke Ruth', 'value': 1.0}
{'_id': 'MIchael Barlotta', 'value': 1.0}
{'_id': 'Magnus Rydin', 'value': 1.0}
{'_id': 'Mala Gupta', 'value': 2.0}
{'_id': 'Marc Harter', 'value': 2.0}
{'_id': 'Marcin Kawalerowicz', 'value': 1.0}
{'_id': 'Marco De Sanctis', 'value': 2.0}
{'_id': 'Marcus Hammarberg', 'value': 1.0}
{'_id': 'Margaret M. Burnett', 'value': 1.0}
{'_id': 'Maria Winslow', 'value': 1.0}
{'_id': 'Mario Fusco', 'value': 1.0}
{'_id': 'Mark A. Kolb', 'value': 1.0}
{'_id': 'Mark B. Whipple', 'value': 2.0}
{'_id': 'Mark Combellack', 'value': 1.0}
{'_id': 'Mark Seemann', 'value': 1.0}
{'_id': 'Mark Wilson', 'value': 1.0}
{'_id': 'Marq Singer', 'value': 1.0}
{'_id': 'Marsha Zaidman', 'value': 1.0}
{'_id': 'Martien Verbruggen', 'value': 1.0}
{'_id': 'Martijn Dashorst', 'value': 1.0}
{'_id': 'Martin Conte Mac Donell', 'value': 1.0}
{'_id': 'Martin Evans', 'value': 1.0}
{'_id': 'Martin Logan', 'value': 1.0}
{'_id': 'Massimo Perga', 'value': 2.0}
{'_id': 'Matt Pearson', 'value': 1.0}
{'_id': 'Matthew Carver', 'value': 1.0}
{'_id': 'Matthew D. Groves', 'value': 1.0}
{'_id': 'Matthew E. Hodges', 'value': 1.0}
{'_id': 'Matthew Farwell', 'value': 1.0}
{'_id': 'Matthew Hinze', 'value': 2.0}
{'_id': 'Matthew Jankowski', 'value': 1.0}
{'_id': 'Matthew Lee Hinman', 'value': 1.0}
{'_id': 'Matthew Robinson', 'value': 1.0}
{'_id': 'Matthew Scarpino', 'value': 3.0}
{'_id': 'Matthias Kaeppler', 'value': 2.0}
{'_id': 'Max Carlson with Glenn MacEwen', 'value': 1.0}
{'_id': 'Merlin Hughes', 'value': 1.0}
{'_id': 'Michael Barlotta', 'value': 1.0}
{'_id': 'Michael D. Galpin', 'value': 2.0}
{'_id': 'Michael Fogus', 'value': 1.0}
{'_id': 'Michael HÃ¼ttermann', 'value': 1.0}
{'_id': 'Michael J. Barlotta', 'value': 2.0}
{'_id': 'Michael McCandless', 'value': 1.0}
{'_id': 'Michael Remijan', 'value': 1.0}
{'_id': 'Michael Rosing', 'value': 1.0}
{'_id': 'Michael S. Mikowski', 'value': 1.0}
{'_id': 'Michael Shoffner', 'value': 2.0}
{'_id': 'Michael Sync', 'value': 2.0}
{'_id': 'Mike Cantelon', 'value': 1.0}
{'_id': 'Mike Clark', 'value': 1.0}
{'_id': 'Mike McQuaid', 'value': 1.0}
{'_id': 'Monsur Hossain', 'value': 1.0}
{'_id': 'Naomi R. Ceder', 'value': 1.0}
{'_id': 'Nathan Marz', 'value': 1.0}
{'_id': 'Nathan Rajlich', 'value': 1.0}
{'_id': 'Nathan Weizenbaum', 'value': 1.0}
{'_id': 'Nicholas Dimiduk', 'value': 1.0}
{'_id': 'Nicholas Goodman', 'value': 1.0}
{'_id': 'Nick Heudecker', 'value': 1.0}
{'_id': 'Nick Lo', 'value': 1.0}
{'_id': 'Nick Swan', 'value': 1.0}
{'_id': 'Nicki Watt', 'value': 1.0}
{'_id': 'Nicolas G. Bevacqua', 'value': 1.0}
{'_id': 'Nicolas Leroux', 'value': 1.0}
{'_id': 'Nilanjan Raychaudhuri', 'value': 1.0}
{'_id': 'Nina Zumel', 'value': 1.0}
{'_id': 'Nishant Sivakumar', 'value': 1.0}
{'_id': 'Noel Rappin', 'value': 1.0}
{'_id': 'Noel Yuhanna', 'value': 1.0}
{'_id': 'Norman Klein', 'value': 1.0}
{'_id': 'Norman Maurer', 'value': 1.0}
{'_id': 'Norman Richards', 'value': 1.0}
{'_id': 'Norris P. Smith', 'value': 1.0}
{'_id': 'Oisin Grehan', 'value': 1.0}
{'_id': 'Ola Ellnestam', 'value': 1.0}
{'_id': 'Oliver Drobnik', 'value': 1.0}
{'_id': 'Olivier Bazoud', 'value': 1.0}
{'_id': 'Oren Eini writing as Ayende Rahien', 'value': 1.0}
{'_id': 'Otis Gospodnetic', 'value': 2.0}
{'_id': 'Patrick Lee', 'value': 1.0}
{'_id': 'Patrick Lightbody', 'value': 1.0}
{'_id': 'Patrick Linskey', 'value': 1.0}
{'_id': 'Patrick Peak', 'value': 1.0}
{'_id': 'Patroklos P. Papapetrou', 'value': 1.0}
{'_id': 'Paul A. Boag', 'value': 1.0}
{'_id': 'Paul Chiusano', 'value': 1.0}
{'_id': 'Paul King', 'value': 2.0}
{'_id': 'Paul Messick', 'value': 2.0}
{'_id': 'Paul Nielsen', 'value': 2.0}
{'_id': 'Paul Randal', 'value': 1.0}
{'_id': 'Paul S. Hethmon', 'value': 1.0}
{'_id': 'Paul S. Randal', 'value': 3.0}
{'_id': 'Paul Sanghera', 'value': 1.0}
{'_id': 'Paula Beer', 'value': 1.0}
{'_id': 'Pavel Vorobiev', 'value': 1.0}
{'_id': 'Perry Cook', 'value': 1.0}
{'_id': 'Petar Tahchiev', 'value': 1.0}
{'_id': 'Pete Brown', 'value': 2.0}
{'_id': 'Peter Armstrong', 'value': 2.0}
{'_id': 'Peter Bakkum', 'value': 1.0}
{'_id': 'Peter Fischer', 'value': 1.0}
{'_id': 'Peter Harrington', 'value': 1.0}
{'_id': 'Peter Hilton', 'value': 1.0}
{'_id': 'Peter J. Kovach', 'value': 1.0}
{'_id': 'Peter Johnson', 'value': 1.0}
{'_id': 'Peter Ledbrook', 'value': 2.0}
{'_id': 'Peter M. Brown', 'value': 1.0}
{'_id': 'Peter Pathirana', 'value': 1.0}
{'_id': 'Peter Small', 'value': 1.0}
{'_id': 'Phil Wicklund', 'value': 1.0}
{'_id': 'Philipp K. Janert', 'value': 1.0}
{'_id': 'Philippe Mougin', 'value': 1.0}
{'_id': 'Phillip Trelford', 'value': 1.0}
{'_id': 'Phillip Whisenhunt', 'value': 1.0}
{'_id': 'Pierre Henri Kuate', 'value': 1.0}
{'_id': 'Prakash Sankaran', 'value': 1.0}
{'_id': 'Prasad A. Chodavarapu', 'value': 1.0}
{'_id': 'Qusay H. Mahmoud', 'value': 1.0}
{'_id': 'Radu Gheorghe', 'value': 1.0}
{'_id': 'Ram Venkataraman', 'value': 1.0}
{'_id': 'Ramarao Kanneganti', 'value': 1.0}
{'_id': 'Ramnivas Laddad', 'value': 2.0}
{'_id': 'Randy Abernethy', 'value': 1.0}
{'_id': 'Raoul-Gabriel Urma', 'value': 1.0}
{'_id': 'Raymond Feng', 'value': 1.0}
{'_id': 'Raymond Roestenburg', 'value': 1.0}
{'_id': 'Regina O. Obe', 'value': 1.0}
{'_id': 'Regina Obe', 'value': 1.0}
{'_id': 'Rehan Zaidi', 'value': 1.0}
{'_id': 'Rene Rubalcava', 'value': 1.0}
{'_id': 'Reza Rahman', 'value': 2.0}
{'_id': 'Ricardo Alcocer', 'value': 1.0}
{'_id': 'Richard Brooks', 'value': 1.0}
{'_id': 'Richard Carlsson', 'value': 1.0}
{'_id': 'Richard Jacob', 'value': 1.0}
{'_id': 'Richard L. Saltzer', 'value': 1.0}
{'_id': 'Richard S. Hall', 'value': 1.0}
{'_id': 'Richard Scott Mark', 'value': 1.0}
{'_id': 'Richard Sezov', 'value': 1.0}
{'_id': 'Richard Siddaway', 'value': 6.0}
{'_id': 'Rick Umali', 'value': 1.0}
{'_id': 'Rob Allen', 'value': 1.0}
{'_id': 'Rob Bakker', 'value': 1.0}
{'_id': 'Rob Crowther', 'value': 2.0}
{'_id': 'Rob Davies', 'value': 1.0}
{'_id': 'Rob Williams', 'value': 1.0}
{'_id': 'Robert A. Rice Jr.', 'value': 1.0}
{'_id': 'Robert Chapman', 'value': 1.0}
{'_id': 'Robert Cooper', 'value': 1.0}
{'_id': 'Robert Hanson', 'value': 2.0}
{'_id': 'Robert I. Kabacoff', 'value': 1.0}
{'_id': 'Robert Kabacoff', 'value': 1.0}
{'_id': 'Robi Sen', 'value': 3.0}
{'_id': 'Robin Anil', 'value': 1.0}
{'_id': 'Robin Dunn', 'value': 1.0}
{'_id': 'Rod Colledge', 'value': 1.0}
{'_id': 'Roland Kuhn', 'value': 1.0}
{'_id': 'Roman Shaposhnik', 'value': 1.0}
{'_id': 'Ronny Richardson', 'value': 2.0}
{'_id': 'Ross A. Baker', 'value': 1.0}
{'_id': 'Roy Osherove', 'value': 2.0}
{'_id': 'Ryan Bigg', 'value': 2.0}
{'_id': 'Ryan Breidenbach', 'value': 1.0}
{'_id': 'Ryan Cuprak', 'value': 1.0}
{'_id': 'RÃºnar Bjarnason', 'value': 1.0}
{'_id': 'Sam Ahn', 'value': 1.0}
{'_id': 'Samuel M. Breed', 'value': 1.0}
{'_id': 'Satnam Alag', 'value': 1.0}
{'_id': 'SaÅ¡a JuricÂ´', 'value': 1.0}
{'_id': 'Scott Stanlick', 'value': 1.0}
{'_id': 'Sean Allen', 'value': 1.0}
{'_id': 'Sean Owen', 'value': 1.0}
{'_id': 'Shannon Appelcline', 'value': 3.0}