# CRUD in MongoDB:

In this notebook we will explore the main transactions done on a database (CRUD) on a document based database (MongoDB).

First, we load the data from the file primer-dataset.json using cmd using the following command: 

mongoimport --db test --collection restaurants --drop --file "path to file"

In [427]:
import pymongo as pg #Among other things handles conncection between the db and python environement 
from pprint import pprint #pretty print
import datetime #Needed to format the datetime input later on.

In [428]:
client=pg.MongoClient()
db=client.test

In [429]:
print(db.restaurants.find_one())

{'_id': ObjectId('5cc79bf63ff99b33afca409e'), 'address': {'building': '1007', 'coord': [-73.856077, 40.848447], 'street': 'Morris Park Ave', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}], 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}

In [430]:
pprint(db.restaurants.find_one())

{'_id': ObjectId('5cc79bf63ff99b33afca409e'),
 'address': {'building': '1007',
             'coord': [-73.856077, 40.848447],
             'street': 'Morris Park Ave',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2013, 9, 11, 0, 0),
             'grade': 'A',
             'score': 6},
            {'date': datetime.datetime(2013, 1, 24, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2011, 11, 23, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2011, 3, 10, 0, 0),
             'grade': 'B',
             'score': 14}],
 'name': 'Morris Park Bake Shop',
 'restaurant_id': '30075445'}

In [431]:
db.restaurants.count() #Number of restaurants in the JSON file.

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

25359

# Inserting a new document:

In [432]:
db.restaurants.insert_one(
{
"address" : {
"street" : "2 Avenue",
"zipcode" : "10075",
"building" : "1480",
"coord" : [ -73.9557413, 40.7720266 ]
},
"borough" : "Manhattan",
"cuisine" : "Italian",
"grades" : [
{
"date" : datetime.datetime(2014, 10, 1, 0, 0, 0, 0),
    "grade" : "A",
"score" : 11
},
{
"date" : datetime.datetime(2014, 1, 16, 0, 0, 0, 0),
"grade" : "B",
"score" : 17
}
],
"name" : "Vella",
"restaurant_id" : "41704620"
}
)

In [433]:
db.restaurants.count()

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

25360

# Updating Top-level fields:

Update the Document relative to the Juni restaurant and set the cuisine to ‘American
(New)’ and the lastModified field in current date to True. Use the function find_one() before and after the update to
verify its execution.

In [434]:
queryF = { "name": "Juni" }
pprint(db.restaurants.find_one(queryF))
newValues={"$set":{"cuisine":"American(New)"}}
db.restaurants.update_one(queryF,newValues)
pprint(db.restaurants.find_one(queryF))

{'_id': ObjectId('5cc79bf63ff99b33afca582e'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 31 Street',
             'zipcode': '10016'},
 'borough': 'Manhattan',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}
{'_id': ObjectId('5cc79bf63ff99b33afca582e'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 31 Street',
             'zipcode': '10016'},
 'borough': 'Manhattan',
 'cuisine': 'American(New)',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}

# Updating Embedded fields:

Update the street of the restaurant whose id is 41156888 with the new value "East
41st Street"

In [435]:
query2 = { "restaurant_id": "41156888" }
pprint(db.restaurants.find_one(query2))
newValues={"$set":{"address.street":"East 41st Street"}}
db.restaurants.update_one(query2,newValues)
pprint(db.restaurants.find_one(query2))

{'_id': ObjectId('5cc79bf63ff99b33afca582e'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 31 Street',
             'zipcode': '10016'},
 'borough': 'Manhattan',
 'cuisine': 'American(New)',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}
{'_id': ObjectId('5cc79bf63ff99b33afca582e'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 41st Street',
             'zipcode': '10016'},
 'borough': 'Manhattan',
 'cuisine': 'American(New)',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}

# Updating multiple Documents:

Update all documents that have a zipcode field equal to "10016" and cuisine
field equal to “Other”. Set the cuisine field to "Category To Be Determined".

There is no field called "lastModified". We will add it for the sake of handeling data in next sections.

In [436]:
db.restaurants.find({"lastModified": {"$exists":True}}).count()

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

0

In [437]:
db.restaurants.find({"cuisine":"Other"}).count() #Number of restaurants with 'Other' value for the cuisine key.

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

1011

In [438]:
db.restaurants.update_many({"cuisine":"Other"},{"$set":{"cuisine":"Category To Be Determined","lastModified":datetime.datetime.now()}}) #Updating multiple files.

In [439]:
db.restaurants.find({"cuisine":"Other"}).count() #We expect 0.

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

0

In [440]:
db.restaurants.find({"cuisine":"Category To Be Determined"}).count() # We expect 1011

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

1011

# Replacing a Document:

Update the Document for the restaurant with id : “41704620”. The modified document will only contain the _id field, name field, the address field. i.e. the document will not contain the restaurant_id, cuisine, grades, and the borough fields.

In [441]:
name=db.restaurants.find_one({"restaurant_id":"41704620"},{"name"})
address=db.restaurants.find_one({"restaurant_id":"41704620"},{"address"})

In [442]:
def extractSubFields(field):
    l=[]
    for subField in field.keys():
        l.append(field[subField])
    return(l)

In [443]:
db.restaurants.find_one({"restaurant_id":"41704620"})

{'_id': ObjectId('5cc79bf73ff99b33afca859a'),
 'address': {'building': '1480',
  'coord': [-73.9557413, 40.7720266],
  'street': '2 Avenue',
  'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
   'grade': 'A',
   'score': 11},
  {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}],
 'name': 'Vella',
 'restaurant_id': '41704620'}

In [444]:
db.restaurants.replace_one({"restaurant_id":"41704620"},{
    "_id":extractSubFields(name)[0],
    "address":extractSubFields(address)[1],
    "name":extractSubFields(name)[1]
})

In [445]:
db.restaurants.find_one({"name":"Vella"})

{'_id': ObjectId('5cc79bf73ff99b33afca859a'),
 'address': {'building': '1480',
  'coord': [-73.9557413, 40.7720266],
  'street': '2 Avenue',
  'zipcode': '10075'},
 'name': 'Vella'}

# Querying Data:

Find all restaurants that were last modified this week.

In [446]:
# Handeling datetime type.
lastMod=ObjectId('5cc788443ff99b33afc98b45').generation_time.replace(tzinfo=None) #removing timezone to be able to use operation on it.
now=datetime.datetime.now()
d=now-lastMod # its type is datetime.timedelta. datetime.timedelta([days,] [seconds,] [microseconds,] [milliseconds,] [minutes,] [hours,] [weeks])
# We can access each component of d by its name for example number of days between the two dates d.days.
d

datetime.timedelta(0, 8705, 154991)

In [447]:
now=datetime.datetime.now()
l=[]
i=0
for doc in db.restaurants.find({"lastModified":{"$exists":True}}):
    dif=now-doc["lastModified"]
    if dif.days<7:
        l.append(doc["_id"])
lastModifiedDocs=db.restaurants.find({"_id":{"$in":l}})

In [448]:
lastModifiedDocs.count() #We expect all of them (the ones modified earlier), let's make a test tho and set the laastModified for one of them 10 days earlier.

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

1011

In [449]:
db.restaurants.update_one({"_id":l[23]},{"$set":{"lastModified":datetime.datetime(2019, 4, 20, 1, 18, 57, 434582)}})

In [450]:
now=datetime.datetime.now()
(now-db.restaurants.find_one({"_id":l[23]})["lastModified"]).days>7 #We expect True.

True

# Querying with regular expressions and sorting:

In [451]:
deliCuisine=db.restaurants.find({'cuisine':{'$regex':'Deli\w'}})

In [452]:
deliCuisine.count() #Number of restaurants that have 'Deli' cuisine.

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

321

In [453]:
#Sorting and limiting:
deliCuisine=db.restaurants.find({'cuisine':{'$regex':'Deli\w'}}).sort("borough").limit(5)

In [454]:
for res in deliCuisine:
    pprint(res)

{'_id': ObjectId('5cc79bf63ff99b33afca436b'),
 'address': {'building': '2214',
             'coord': [-73.82328319999999, 40.8689401],
             'street': 'Bartow Ave',
             'zipcode': '10475'},
 'borough': 'Bronx',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 10, 18, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2014, 5, 2, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2013, 10, 30, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2013, 5, 30, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2013, 2, 12, 0, 0),
             'grade': 'B',
             'score': 18},
            {'date': datetime.datetime(2012, 1, 18, 0, 0),
             'grade': 'A',
             'score': 7}],
 'name': 'Bagel Cafe',
 'restaurant_id': '40389011'}
{'_id': ObjectId('5cc79bf63ff99b33afca4a41'),
 'address': {'building': '214',
             'coord': [-73.90559809999999, 40.8793065],
             'street': 'West  231 Street',
             'zipcode': '10463'},
 'borough': 'Bronx',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 7, 2, 0, 0),
             'grade': 'B',
             'score': 14},
            {'date': datetime.datetime(2013, 5, 14, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2012, 4, 20, 0, 0),
             'grade': 'A',
             'score': 10}],
 'name': "Loeser'S Hebrew National",
 'restaurant_id': '40666155'}
{'_id': ObjectId('5cc79bf63ff99b33afca4ddd'),
 'address': {'building': '520',
             'coord': [-73.78913399999999, 40.852584],
             'street': 'City Island Avenue',
             'zipcode': '10464'},
 'borough': 'Bronx',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 4, 24, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2013, 11, 13, 0, 0),
             'grade': 'A',
             'score': 6},
            {'date': datetime.datetime(2013, 5, 31, 0, 0),
             'grade': 'A',
             'score': 8},
            {'date': datetime.datetime(2012, 12, 18, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2012, 5, 10, 0, 0),
             'grade': 'B',
             'score': 17},
            {'date': datetime.datetime(2011, 5, 14, 0, 0),
             'grade': 'A',
             'score': 2}],
 'name': 'City Island Deli',
 'restaurant_id': '40839264'}
{'_id': ObjectId('5cc79bf63ff99b33afca4ed6'),
 'address': {'building': '441',
             'coord': [-73.8855919, 40.8618662],
             'street': 'East Fordham Road',
             'zipcode': '10458'},
 'borough': 'Bronx',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 9, 17, 0, 0),
             'grade': 'A',
             'score': 4},
            {'date': datetime.datetime(2013, 10, 2, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2012, 9, 14, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2011, 9, 30, 0, 0),
             'grade': 'A',
             'score': 7}],
 'name': 'Fordham University - Student Deli',
 'restaurant_id': '40877285'}
{'_id': ObjectId('5cc79bf63ff99b33afca5446'),
 'address': {'building': '903',
             'coord': [-73.9209911, 40.8270836],
             'street': 'Sheridan Avenue',
             'zipcode': '10451'},
 'borough': 'Bronx',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 10, 28, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2014, 5, 29, 0, 0),
             'grade': 'A',
             'score': 8},
            {'date': datetime.datetime(2013, 10, 4, 0, 0),
             'grade': 'A',
             'score': 6},
            {'date': datetime.datetime(2013, 4, 26, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 4, 12, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2011, 12, 7, 0, 0),
             'grade': 'B',
             'score': 18}],
 'name': 'Chris Super Deli',
 'restaurant_id': '41050702'}