# CRUD IN MongoDB:

In this notebook we will explore the main transactions done

In [101]:
import pymongo as pg
from pprint import pprint
import datetime

In [102]:
client=pg.MongoClient()
db=client.test

In [103]:
print(db.restaurants.find_one())

{'_id': ObjectId('5cc24fa2506c7dd3deefb890'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340'}

In [104]:
pprint(db.restaurants.find_one())

{'_id': ObjectId('5cc24fa2506c7dd3deefb890'),
 'address': {'building': '469',
             'coord': [-73.961704, 40.662942],
             'street': 'Flatbush Avenue',
             'zipcode': '11225'},
 'borough': 'Brooklyn',
 'cuisine': 'Hamburgers',
 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
             'grade': 'A',
             'score': 8},
            {'date': datetime.datetime(2014, 7, 1, 0, 0),
             'grade': 'B',
             'score': 23},
            {'date': datetime.datetime(2013, 4, 30, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2012, 5, 8, 0, 0),
             'grade': 'A',
             'score': 12}],
 'name': "Wendy'S",
 'restaurant_id': '30112340'}

In [105]:
db.restaurants.count()

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

25359

In [106]:
db.restaurants.insert_one(
{
"address" : {
"street" : "2 Avenue",
"zipcode" : "10075",
"building" : "1480",
"coord" : [ -73.9557413, 40.7720266 ]
},
"borough" : "Manhattan",
"cuisine" : "Italian",
"grades" : [
{
"date" : datetime.datetime(2014, 10, 1, 0, 0, 0, 0),
    "grade" : "A",
"score" : 11
},
{
"date" : datetime.datetime(2014, 1, 16, 0, 0, 0, 0),
"grade" : "B",
"score" : 17
}
],
"name" : "Vella",
"restaurant_id" : "41704620"
}
)

In [107]:
db.restaurants.count()

C:\Users\YsfEss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

25360

# Updating Top-level fields:

In [108]:
queryF = { "name": "Vella" }
pprint(db.restaurants.find_one(queryF))
newValues={"$set":{"cuisine":"American(New)"}}
db.restaurants.update_one(queryF,newValues)
pprint(db.restaurants.find_one(queryF))

{'_id': ObjectId('5cc24fa2506c7dd3deeffd8b'),
 'address': {'building': '1480',
             'coord': [-73.9557413, 40.7720266],
             'street': '2 Avenue',
             'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'name': 'Vella',
 'restaurant_id': '41704620'}
{'_id': ObjectId('5cc24fa2506c7dd3deeffd8b'),
 'address': {'building': '1480',
             'coord': [-73.9557413, 40.7720266],
             'street': '2 Avenue',
             'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'American(New)',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'name': 'Vella',
 'restaurant_id': '41704620'}

# Updating Embedded fields:

In [111]:
query2 = { "restaurant_id": "41156888" }
pprint(db.restaurants.find_one(query2))
newValues={"$set":{"adresse.street":"East 41st Street"}}
db.restaurants.update_one(query2,newValues)
pprint(db.restaurants.find_one(query2))

{'_id': ObjectId('5cc24fa2506c7dd3deefd020'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 31 Street',
             'zipcode': '10016'},
 'adresse': {'street': 'East 31st Street'},
 'borough': 'Manhattan',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}
{'_id': ObjectId('5cc24fa2506c7dd3deefd020'),
 'address': {'building': '12',
             'coord': [-73.9852329, 40.745971],
             'street': 'East 31 Street',
             'zipcode': '10016'},
 'adresse': {'street': 'East 41st Street'},
 'borough': 'Manhattan',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 9, 19, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 8, 5, 0, 0),
             'grade': 'A',
             'score': 5},
            {'date': datetime.datetime(2012, 6, 7, 0, 0),
             'grade': 'A',
             'score': 0}],
 'name': 'Juni',
 'restaurant_id': '41156888'}